*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #3b7ca3, #AED1E6)
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: -90px;
    margin-top: -130px;
}

.logo img{
    width: 300px;
}

.title{
    margin-top: -50px;
    margin-left: -180px;
    font-family: "Nanum Gothic", sans-serif;
    color: #fff;
}

.additional-text {
    font-family: "Outfit", sans-serif;
    text-align: center;
}

.header-1 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 50px;
    text-align: center;
    color:#025C77;
    font-size: 36px;
}

.header-2 {
    font-family: "Nanum Gothic", sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.home-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-block-start: 2%;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: -160px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links a:visited {
    font-family: "Nanum Gothic", sans-serif;
    color: #fff;
}


.nav-text {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin-right: -100px;
}

.nav-links a {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin-right: -10px;
}


.login-container {
    width: 800px;
    height: 300px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
}

.welcome-text {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
    color:#025C77
}

.fa-input {
    font-family: "FontAwesome";
    font-style: normal;
    color: #000000;
}

input {
    padding: 12px;
    width: 350px;
    height: 20px;
    margin-right: 5px;
    margin-top: px;
    margin-bottom: 10px;
    font-size: 20px;
    text-indent: 5px;
    background-color: #e5f1f8;
    font-family: "Nanum Gothic", sans-serif;
}

.envelope-icon {
    font-size: 24px;
    margin-right: 5px;
}

.lock-icon {
    font-size: 24px;
    margin-right: 5px;
}

button {
    padding: 10px 160px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 24px;
    background-color: #025C77;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 9px;
    align-items: center;
}

.get-started{
    margin: 30px auto;
    border-radius: 8px;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
}

.get-started button {
    padding: 10px 50px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 24px;
    background-color: #025C77;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 9px;
    align-items: center;
}

a {
    text-decoration: none;
}
